<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<setting name="logImpl" value="STDOUT_LOGGING" />
	</settings>
	<mappers>
		<mapper resource="com/support/mapper/common.xml" />
		<mapper resource="com/support/mapper/user_mapper.xml" />
		<mapper resource="com/support/mapper/menu_mapper.xml" />
		<mapper resource="com/support/mapper/role_mapper.xml" />
		<mapper resource="com/support/mapper/dict_mapper.xml" />
	</mappers>
</configuration>